body {
  background-color: #FFFAF4;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  text-decoration: none;
  color: #54383b;
  font-size: 25px;
}

header .nav1 {
  margin-left: 8vw;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 15px;
}

header .nav1 a {
  margin-left: 20px;
}

header .nav1::before {
  content: '';
  width: 80%;
  height: 2px;
  background: #CAC3BB;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

header .nav1::after {
  content: '';
  width: 80%;
  height: 2px;
  background: #CAC3BB;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

header img {
  max-width: 100%;
}

header .nav2 {
  margin-right: 8vw;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav2 a {
  margin-left: 20px;
}

header .nav2::before {
  content: '';
  width: 80%;
  height: 2px;
  background: #CAC3BB;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

header .nav2::after {
  content: '';
  width: 80%;
  height: 2px;
  background: #CAC3BB;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
}

header .icon {
  position: absolute;
  left: 85vw;
}

@media (max-width: 768px) {
  header .nav1 {
    display: none;
  }
  header .nav2 {
    display: none;
  }
}
