@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
header.common {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 80px;
  padding: 10px;
}

header.common * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header.common a {
  text-decoration: none;
  pointer-events: none;
}

header.common img {
  max-height: 100%;
}

header.common .logo {
  height: 60px;
}

header.common .nav1 {
  display: none;
}

header.common .nav2 {
  display: none;
}

header.common .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.common .icon a {
  height: 20px;
  margin-left: 10px;
}

header.common .icon .ham {
  position: relative;
}

header.common .icon .ham span {
  background: #54383b;
  display: block;
  width: 20px;
  height: 2px;
}

header.common .icon .ham span:nth-child(1) {
  margin-top: 2px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

header.common .icon .ham span:nth-child(2) {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header.common .icon .ham span:nth-child(3) {
  position: absolute;
  bottom: 2px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
