body {
  background-color: #FFFAF4;
}

header.common {
  position: relative;
  height: 160px;
}

header.common nav {
  position: absolute;
  top: 50%;
}

header.common nav a {
  text-decoration: none;
  color: #54383b;
  font-size: 25px;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 15px;
}

header.common nav .href01 {
  position: absolute;
  left: 15vw;
}

header.common nav .href01::before {
  content: '';
  width: 40vw;
  height: 2px;
  background: #CAC3BB;
  display: block;
  position: absolute;
  top: 0;
  left: 0vw;
}

header.common nav .href01::after {
  content: '';
  height: 2px;
  background: #CAC3BB;
  display: block;
}

header.common nav .href02 {
  position: absolute;
  left: 25vw;
}

header.common nav .href03 {
  position: absolute;
  left: 60vw;
}

header.common nav .href04 {
  position: absolute;
  left: 75vw;
}

header.common .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header.common .icon {
  position: absolute;
  top: 50%;
  left: 85vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.common .icon a {
  margin-right: 10px;
}

header.common .icon .ham {
  display: none;
}
